@import 'bootstrap/dist/css/bootstrap.css';
@import 'react-datepicker/dist/react-datepicker.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #DEE0DE;
}

.sign-in-btn {
  background-color: #777777;
  width: 150px;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-btn:hover {
  background-color: #FAFAFA;
  color: #777777;
}

.sign-in-btn:active {
  background-color: #FAFAFA !important;
  color: #777777 !important;
}

.navbar {
  background-color: #DEE0DE !important;
}

.task-container {
  background-color: #FAFAFA;
  border-radius: 10px;
  max-width: 900px;
}

.ind-tasks {
  background-color: #FAFAFA;
}

.table {
  margin-top: 10px;
  max-width: 900px;
}

td {
  background-color: #FAFAFA !important;
  text-align: left;
}

.icon {
  width: 20px;
}

.icon-btn {
  background-color: #FAFAFA;
  border: none;
  padding-bottom: 10px;
}

.icon-btn:hover {
  background-color: #FAFAFA;
  border: none;
}

.icon-btn:active {
  background-color: #FAFAFA !important;
  border: none;
}

.check-container {
  width: 30px;

}

.trash-container {
  width: 30px;
}

.date-container {
  width: 75px;
}

.page-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.submit-btn {
  background-color: #85987A;
  border: none;
}

.submit-btn:hover {
  background-color: #aebda6;
}

.submit-btn:active {
  background-color: #aebda6 !important;
}
